{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
    
    <h1>ABOUT ME</h1>
    Hello, world! This is
    <h2>
        Benjamin Bobkin
    </h2> 

    <p>
        I am currently studying <b>Computer Science</b> at <b>TU Berlin</b> <i>(Technische Universität Berlin)</i>.
    </p>

    <hr>
    
    <p>
        Languages I use: C, Python, Java, SQL, HTML/CSS/JavaScript, ...
    </p>
    <p>
        Python Libraries I use: Flask, Manim, ...
    </p>
    <p>
        My favorite online course: CS50 from Harvard University (includes Lectures, Problem Sets and a Final Project)
    </p>

    <hr>

    <h3>My CS Experience</h3>
    <h4>Personal</h4>
    <p>
    Prior to my CS classes in school, I had already been creating simple programs and games for a "long" time already.
    I've always found computers interesting and started to play around with each and every setting I could find.
    After finding out about VM's on YouTube, I couldn't stop installing different Linux distros and Windows versions and 
    playing around with those. Furthermore I came across game development and started using Unity to create all sorts of games
    (though mostly 2D). And Video Editing is another hobby of mine. Even before I had my first laptop/PC, I used to create
    animations and videos (and not very good ones) on my phone using every free app I could find. Later I transitioned to 
    DaVinci Resolve (on Windows) and have since received three certifications by the company behind that software (Blackmagic Design) because
    the certifications were free and I had some spare time. I've even created a preset that I published 
    and that has actually been used by other people.
    </p>
    <h4>School</h4>
    <p>
        I had CS classes in school from grade 10 up until the very end (grade 12).
        During all these three years I've had the same teacher, and we've had these classes at almost the same time and day every year.
        There I mostly learned about Python, automata, databases and lots more.
    </p>
    <h4>CS50x</h4>
    <p>
        <i>
           "CS50, Harvard University’s introduction to the intellectual enterprises of computer science and the art of
        programming." 
        </i>
        This is an awesome course available online free of charge even with a free certificate.
    </p>
    <p>
        I started CS50x during school but stopped, so that I could focus on school a little more. I have continued and 
        finished the last Problem Set during my break between my first and second university semesters. So now I have a CS50x certificate
        from Harvard University free of charge. And I've already gotten my next one (CS50P - CS50’s Introduction to Programming with Python) by now.
    </p>

    <h4>University</h4>
    <h5>First Semester</h5>
    <p><small class="timestamp"><i>Written: March 2026</i></small></p>
    <p>
        As I'm writing this very paragraph, I have completed my first semester of CS at the above university successfully.
        I am already excited for my next semester and hope that it will go just as well or (hopefully) even better.
    </p>
    <p>
        My favorite courses were <i>Introduction to Programming</i>, <i>Introduction to Computer Architecture and Design</i> and <i>Analysis I and Linear Algebra</i>.
        Here are the interesting CS related things I have learned about: 
        <ul>
            <li>C</li>
            <li>Assembly (MIPS Assembly)</li>
            <li>(doubly) linked lists</li>
            <li>Asymptotic Notation</li>
            <li>Runtime analysis</li>
            <li>Correctness of Algorithms</li>
            <li>BST</li>
            <li>AVL Trees</li>
            <li>Heaps</li>
            <li>HeapSort, QuickSort, RadixSort and other sorting Algorithms</li>
            <li>Basics of digital design</li>
            <li>Structure and operation of a simple arithmetic-logic-unit (ALU)</li>
            <li>Structure and operation of single- and multi-cycle datapaths (MIPS)</li>
            <li>Introduction to pipelining</li>
            <li>Introduction to caches</li>
            <li>Abstraction and problem-solving techniques</li>
            <li>And much more...</li>
        </ul>
    </p>

    <h5>Second Semester</h5>
    <p><small class="timestamp"><i>Written: August 2026</i></small></p>
    <p>
        And as I am writing this paragraph, I have already completed my second semester of computer science.
        It was a lot harder this time, but even more fun and interesting.
    </p>

    <p>
        My favorite courses were <i>Algorithms and Data Structures</i>, <i>Formal-mathematical groundwork</i>, <i>Information Systems and Data Analysis</i>, <i>System Programming</i> and <i>Discrete Structures</i> (so all of them).
        Here are the interesting CS related things I have learned about: 
        <ul>
            <li>Java</li>
            <li>Python</li>
            <li>SQL</li>
            <li>Introduction to object-oriented programming in Java</li>
            <li>Backtracking</li>
            <li>Greedy algorithms</li>
            <li>Branch-and-Bound</li>
            <li>Alpha-Beta search</li>
            <li>Randomized algorithms</li>
            <li>Dynamic programming</li>
            <li>Depth- and breadth-first search on graphs, Topological sorting</li>
            <li>Minimal spanning trees</li>
            <li>Shortest paths (SSSP)</li>
            <li>Flow graphs, MaxFlow and MinCut</li>
            <li>Heuristic and Approximative Algorithms</li>
            <li>Hash Tables</li>
            <li>Natural deduction in propositional and predicate logic</li>
            <li>Logical equivalence, proof structures, and proof principles</li>
            <li>Abstract and universal algebra</li>
            <li>Structural induction</li>
            <li>Architecture of Information Systems</li>
            <li>Relational Data Model </li>
            <li>Relational Algebra</li>
            <li>Data Base Management vs Data Streams Management</li>
            <li>Introduction to Data Science</li>
            <li>Algorithms for Data Analytics: Classification & Clustering algorithms</li>
            <li>Combinatorics</li>
            <li>Graph Theory</li>
            <ul>
                <li>Matchings</li>
                <li>Planar graphs</li>
                <li>Coloring</li>
                <li>And much more...</li>
            </ul>
            <li>Number Theory (with applications to Cryptography)</li>
            <li>Algebraic Structures</li>
            <li>Concurrency: processes, threads, scheduling</li>
            <li>Synchronization and communication</li>
            <li>Management of operating resources</li>
            <li>Exception and interrupt handling</li>
            <li>And much more...</li>
        </ul>
    </p>

    <a href="profiles">
        <button class="beautiful-button">
            Stay in touch with me
        </button>
    </a>

{% endblock %}