{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
    
    <h1>ABOUT ME</h1>
    Hello, world. This is
    <h2>
        Benjamin Bobkin
    </h2> 

    <p>
        I am a currently studying <b>Computer Science</b> at <b>TU Berlin</b> <i>(Technische Universität Berlin)</i>.
    </p>

    <hr>
    
    <p>
        Languages I use: C, Python, SQL, HTML/CSS/JavaScript, ...
    </p>
    <p>
        Python Librarys I use: Flask, Manim, ...
    </p>
    <p>
        My favourite online course: CS50 from Harvard University (includes Lectures, Problem Sets and a Final Project)
    </p>

    <hr>

    <h3>My CS Experience</h3>
    <h4>Personal</h4>
    <p>
    Prior to my CS classes in school, I've been creating simple programs and games for a "long" time already.
    I've always found computers intersting and started to play around with each and every setting I could find.
    After finding out about VM's on YouTube, I couldn't stop installing diffrent linux distors and windows versions and 
    play around with those. Furthermore I came accros game developement and started using Unity to create all sorts of games
    (though mostly 2D). And Video Editing is another Hobby of mine. Even before I had my first Laptop/PC, I used to create
    animatioins and videos (and not very good ones) on my phone using every free app I've found. Later I transtioned to 
    Davinici Resolve (on Windows) and have gotten 3 times certified by the company behind that software (Blackmagic Design) because
    the certifications were free and I've had some spare time. I've even created a preset that I published 
    and that has actully been used by other people.
    </p>
    <h4>School</h4>
    <p>
        I have had CS since school from grade 10 up untill the very end (grade 12).
        During all these three years I've had the same teacher, and we've had these classes at almost the same time and day every year.
        There I've mostly learned about python, automata, databases and lots more.
    </p>
    <h4>CS50x</h4>
    <p>
        <i>
           "CS50, Harvard University’s introduction to the intellectual enterprises of computer science and the art of
        programming." 
        </i>
        This is an awsome course available online free of charge even with a free certificate.
    </p>
    <p>
        I have started CS50x during school but stopped, so that I could focus on School a little more. I have continiued and 
        finished the last Problem Set during my break between my first and second University Semester.
    </p>

    <h4>University</h4>
    <p>
        As I'm writing this very paragraph, I have completed my fist semester of CS at the above university succesfully.
        I am already excited for my next semester and hope that it will go just as well or (hopefully) even better.
    </p>

{% endblock %}