{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}

    <p>Hello, World! This is</p>

    <div class="row">
        <div class="col-md-6">
            <h2><b>
                BENJAMIN BOBKIN
            </b></h2>

            <p>
                I am a currently studying <b>Computer Science</b> at <b>TU Berlin</b> <i>(Technische Universität Berlin)</i>.
            </p>

            <hr >

            
            <p>
                Languages I use: C, Python, SQL, HTML/CSS/JavaScript, ...
            </p>
            <p>
                Python Libraries I use: Flask, Manim, ...
            </p>
            <p>
                My favorite online course: CS50 from Harvard University.
            </p>

            <a href="profiles">
                <button class="beautiful-button">
                    Stay in touch with me
                </button>
            </a>

        </div>
        <div class="col-md-6">
            <img src="./static/img/selfie.jpg" alt="selfie" width="400" height="400" class="img-fluid beautiful-img">
        </div>
    </div>

{% endblock %}